/IncorrectPasswordException.class
/OfertaInvalidaException.class
/PiezaNoExistenteException.class
/SubastaInexistente.class
/UserDuplicatedException.class
/UserNotFoundException.class
/VentaNoFijaException.class
